@charset "utf-8";
/* CSS Document */


/* -------------
 * Radios
 * ------------- */
span.jqTransformRadioWrapper {
  vertical-align: middle;
  margin: 8px 0 0 0;
  display: block;
  float: left;
}
a.jqTransformRadio {
  width: 16px;
  height: 16px;
  display: block;
  vertical-align: middle;
  background: url(../i/icon-sprites.png) no-repeat;
  background-position: -264px -168px;
}
.form-radios .form-container label {
	padding-left: 8px;
}
.jqTransformRadioWrapper a.jqTransformChecked { 
	background-position: -296px -168px;
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
  display: block;
  float: left;
  margin-top: 0;
}
.form-container label.checkbox {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #323232;
}
a.jqTransformCheckbox,
a.jqTransformChecked {
  background: url(../i/icon-sprites.png) no-repeat;
}
a.jqTransformCheckbox {
  background-position: -265px -40px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}


/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked {
  background-position: -298px -40px;
  border-color: #01B399;
}
.form-container label {
	font-size: 13px;
	color: #484848;
	line-height: 14px;
	display: inline-block;
	padding: 0 0 0 11px;
	font-weight: normal;
	margin-top: -2px;
}


/* -------------
 * Selects
 * ------------- */
.selects-container {
  font-size: 16px;
  color: #2784e4;
  margin: 0;
}
.selects-container .jqTransformSelectWrapper {
  background: #fff;
  position: relative;
  height: 36px;
  border: 1px solid #2784e4;
  border-radius: 3px;
  z-index: 999;
}
.selects-container .jqTransformSelectWrapper a.jqTransformSelectOpen {
  background: url(../i/icon-sprites.png) no-repeat;
  background-position: 0 0;
  display: block;
  position: absolute;
  top: 7px;
  right: 13px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  z-index: 99;
}
.selects-container .jqTransformSelectWrapper div span {
  float: none;
  position: absolute;
  white-space: nowrap;
  text-indent: 15px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
}
.selects-container .jqTransformSelectWrapper ul {
  text-align: center;
  position: absolute;
  top: 33px;
  left: -1px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #2784e4;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
  margin: 0;
  padding: 5px 0;
  overflow: auto;
  overflow-y: auto;
  z-index: 1000;
}
.selects-container .jqTransformSelectWrapper ul li {
  padding: 0;
  margin: 0;
  text-align: left;
}
.selects-container .jqTransformSelectWrapper ul a {
  font-size: 16px;
  color: #000;
  text-indent: 15px;
  display: block;
  text-decoration: none;
  line-height: 21px;
  padding: 0 0 2px 0;
}
.selects-container .jqTransformSelectWrapper ul a.selected {
  color: #999;
}
.selects-container .jqTransformSelectWrapper ul a:hover,
.selects-container .jqTransformSelectWrapper ul a.selected:hover {
  color: #2784e4;
  text-decoration: none;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
  display: none;
}