/* Reset HTML5
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-family: 'roboto_regular', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	min-height: 100%;
	height: 100%;
}
html,
body {
	-ms-overflow-style: scrollbar;
} 




/* common style */
body {
	background: #f1f1f2;
	min-width: 1003px;
	height: 100%;
	padding-right: 0!important;
}
input,
button {
	border-radius: 0;
}
a,
a:focus {
	text-decoration: none;
	outline: none;
}
	a:hover {
		text-decoration: underline;
	}
	



/* .icons */
.icons,
body .ui-datepicker .ui-datepicker-prev span, 
body .ui-datepicker .ui-datepicker-next span {
	background: url(../i/icon-sprites.png) no-repeat;
	display: inline-block;
}
	.icon-16x16 {
		width: 16px;
		height: 16px;
	}
	.icon-24x24 {
		width: 24px;
		height: 24px;
	}
	.icon-32x32 {
		width: 32px;
		height: 32px;
	}
	.icon-48x48 {
		width: 48px;
		height: 48px;
	}



/* .btn */
body .btn {
	font-size: 13px;
	font-weight: normal;
	padding: 0 8px;
	border-radius: 0;
	height: 27px;
	line-height: 27px;
	position: relative;
}
body .btn,
body .btn:hover,
body .btn.active.focus,
body .btn:active.focus,
body .btn:active:focus,
body .btn:focus {
	box-shadow: none;
	outline: none;
}
	/* .btn-blue */
	.btn-blue,
	.btn-blue:hover,
	.btn-blue:focus {
		color: #fff;
		background: #0DBCD4;
		height: 35px;
		line-height: 35px;
	}
		.btn-blue:hover {
		    background: #188FA5;
		}
	/* .btn-gray */
	.btn-gray,
	.btn-gray:hover,
	.btn-gray:focus {
		color: #fff;
		background: #bbbdc0;
		height: 35px;
		line-height: 35px;
	}
		.btn-gray:hover {
		    background: #A3A5A7;
		}
	/* .btn-border-blue */
	.btn-border-blue {
		color: #4bc2d5;
		background: #fff;
		border: 1px solid #4bc2d5;
	}
		.btn-border-blue:hover {
		    color: #188FA5;
		    border: 1px solid #188FA5;
		}
.modal.modal-default .link-blue,
.modal.modal-default .link-blue:hover,
.modal.modal-default .link-blue:focus {
	color: #0FB7D4;
}



/* .btn-group-default */
.btn-group-default .btn.btn-default {
	font-family: 'roboto_medium', sans-serif;
	font-size: 13px;
	color: #10B7D4;
	background: #fff;
	height: 23px;
	line-height: 23px;
	border: 1px solid #1DBDD4;
	padding: 0 26px 0 11px;
	position: relative;
	border-radius: 3px;
	text-transform: uppercase;
}
.btn-group-default.btn-group.open .dropdown-toggle {
	color: #10B7D4;
	background-color: #fff;
	border-color: #1DBDD4;
	box-shadow: none;
}
	.btn-group-default .btn.btn-default .icons {
		background-position: -136px -8px;
		position: absolute;
		top: 2px;
		right: 6px;
	}
		.btn-group-default .dropdown-menu {
			top: -10px;
			left: -14px;
			float: none;
			min-width: 180px;
			padding: 7px 0;
			margin: 0;
			font-size: 13px;
			background-color: #fff;
			border: 2px solid #E5E4E2;
			border: 2px solid rgba(229,228,226,1);
			border-radius: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			filter: none;
			text-transform: uppercase;
		}
			.btn-group-default .dropdown-menu>li>a {
				font-size: 13px;
				color: #231815;
				padding: 0 24px;
				margin-bottom: 7px;
				font-weight: normal;
				line-height: 27px;
				height: 27px;
				display: block;
			}
				.btn-group-default .dropdown-menu>li.current>a {
					font-family: 'roboto_medium', sans-serif;
					color: #727171;
				}
				.btn-group-default .dropdown-menu>li>a:hover {
					filter: none;
					background: none;
				}
			.btn-group-default .dropdown-menu>li>a .txt {
				float: left;
				position: relative;
			}
			.btn-group-default .dropdown-menu>li>a .icons {
				background-position: -168px -8px;
				position: absolute;
				top: 4px;
				right: -19px;
			}
			
			
			

/* width */
.width13 {
	width: 13%;
}
.width15 {
	width: 15%;
}					
.width18 {
	width: 18%;
}				
.width25 {
	width: 25%;
}		
.width29 {
	width: 29%;
}			
.width30 {
	width: 30%;
}			
.width33 {
	width: 33%;
}		
.width35 {
	width: 35%;
}
.fixed-width50 {
	width: 52px;
}
.fixed-width50 {
	width: 20px;
}

/* .login-box */
.login-box {
	width: 343px;
	height: 580px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -171.5px;
	margin-top: -290px;
}
	/* .login-box .header-panel */
	.login-box .header-panel {
		background: rgba(255,255,255,0.7);
		border-bottom: 2px solid #d1d2d4;
		text-align: center;
		position: relative;
	}
		/* .login-box .logo */
		.login-box .logo {
			border: 2px solid #dddcdc;
			border-bottom: none;
			height: 180px;
		}
		.login-box .truportal-logo {
			padding-top: 35px;
			padding-bottom: 30px;
		}
		.login-box .error-panel .truportal-logo {
			padding-top: 30px;
			padding-bottom: 10px;
		}
			.login-box .truportal-logo img {
				width: 210px;
			}
			.login-box .onguard-logo img {
				width: 110px;
			}
			.login-box .onguard-logo .txt {
				font-family: 'roboto_medium', sans-serif;
				color: #c42025;
				font-size: 14px;
				margin-left: 10px;
				display: inline-block;
				vertical-align: middle;
				margin-top: 15px;
			}
		/* .login-box .error-invalid */
		.login-box .error-invalid,
		.login-box .error-choose,
		.login-box .error-failed {
			font-size: 18px;
			color: #fff;
			height: 50px;
			background: #d94335;
			text-align: center;
			line-height: 18px;
			padding-top: 14px;
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
		}
	/* .login-panel */
	.login-panel {
		background: #fff;
		border: 2px solid #dddcdc;
		border-top: 0;
		padding: 20px 48px 42px 48px;
	}
		/* .login-panel .row */
		.login-panel .username-row,
		.login-panel .password-row {
			padding-top: 18px;
			margin: 0 auto 19px auto;
			padding-right: 22px;
			border-bottom: 1px solid #d1d2d4;
			height: 45px;
			position: relative;
		}
			.login-panel .row .red-txt {
				font-size: 24px;
				color: #D94335;
				position: absolute;
				right: 0;
				top: 14px;
			}
				.login-panel .row input {
					font-size: 17px;
					color: #454547;
					background: none;
					border: none;
					outline: none;
					width: 100%;
					height: 25px;
					line-height: 20px;
					vertical-align: middle;
					resize: none;	
				}
					.login-panel .row input::-webkit-input-placeholder {
						color: #454547;
					}
					.login-panel .row input:-moz-placeholder {
						color: #454547;
					}
					.login-panel .row input::-moz-placeholder {
						color: #454547;
						opacity: 1;
					}
					.login-panel .row input:-ms-input-placeholder {
						color: #454547;
					}
		/* .login-panel .forgot-password */
		.login-panel .forgot-password {
			margin: 11px 0;
		}
			.login-panel .forgot-password a {
				font-family: 'roboto_medium', sans-serif;
				font-size: 14px;
				color: #39c8db;
				line-height: 18px;
			}
			.login-submenu .login-default:hover,
			.btn-login a:hover {
				text-decoration: none;
			}
		/* .btn-group-login */
		.btn-group-default.btn-group-login {
			width: 100%;
		}
			.btn-group-default.btn-group-login .btn.btn-default {
				font-family: 'roboto_medium', sans-serif;
				font-size: 17px;
				color: #454547;
				width: 100%;
				height: 34px;
				line-height: 34px;
				border: none;
				text-align: left;
				border-bottom: 1px solid #d1d2d4;
				display: inline-block;
				position: relative;
				padding: 0;
				margin-top: 13px;
			}
				.btn-group-default.btn-group-login .btn.btn-default .txt {
					letter-spacing: -0.5px;
				}
			.btn-group-default.top-6 .btn.btn-default {
				margin-top: 0;
			}
			.btn-group-default.btn-group-login .btn-default .red-txt {
				font-size: 24px;
				color: #D94335;
				position: absolute;
				top: 4px;
				right: 22px;
			}
			.btn-group-default.btn-group-login .btn-default .icon-arrow {
				background-position: -169px -8px;
				position: absolute;
				top: 10px;
				right: 0;
			}
				.btn-group-default.btn-group-login .dropdown-menu {
					top: 7px;
					width: 271px;
				}
				.btn-group-default.top-6 .dropdown-menu {
					width: 100%;
					left: 0;
					top: 6px;
				}
					.btn-group-default.btn-group-login .dropdown-menu>li>a .txt {
						float: none;
						position: static;
						letter-spacing: -0.5px;
					}
						.btn-group-default.btn-group-login .dropdown-menu>li>a {
							font-family: 'roboto_medium', sans-serif;
							font-size: 17px;
							padding: 0 12px;
						}
							.btn-group-default.btn-group-login .dropdown-menu>li>a .icons {
								top: 14px;
								right: 13px;
							}
		/* .login-box .bottom-btn */
		.login-box .bottom-btn {
			margin-top: 40px;
			height: 40px;
		}
			.login-box .bottom-btn .btn {
				font-family: 'roboto_medium', sans-serif;
				font-size: 14px;
				height: 40px;
				line-height: 40px;
				display: block;
				border-radius: 2px;
			}
			.login-box .bottom-btn .btn-gray,
			.login-box .bottom-btn .btn-gray:hover {
				background: #bbbdc0;
				cursor: default;
			}
			
			
			
			
/* .left-aside */
.left-aside {
	background: #686D71;
	position: fixed;
	width: 190px;
	height: 100%;
	top: 0;
	left: 0;
	z-index : 1249;
}
	/* .left-aside .logo */
	.left-aside .logo {
		text-align: center;
		background: #D93B28;
		width: 100%;
		height: 46px;
		padding-top: 10px;
		padding-right: 1px;
		display: block;
	}
		.left-aside .logo img {
			width: 101px;
			height: 26px;
		}
		.left-aside .logo .icons {
			display: none;
		}
		/* .left-aside .nav */
		.left-aside .nav li a {
			font-size: 13px;
			color: #fff;
			padding: 0 10px 0 55px;
			height: 58px;
			display: block;
			position: relative;
		}
		.left-aside .nav li a .txt {
			vertical-align: middle;
			display: table-cell;
			line-height: 16px;
			padding-top: 5px;
			padding-bottom: 5px;
			height: 58px;
		}
			.left-aside .nav a:hover {
				text-decoration: none;
			}
			.left-aside .nav .current a,
			.left-aside .nav li:hover a {
				background: #1EB7D4;
				border-bottom: 1px solid #788D94;
			}
		.left-aside .nav li .icons {
			position: absolute;
			top: 50%;
			left: 5px;
			margin-top: -24px;
		}
			.left-aside .icon-tp-panels .icons {
				background-position: 0 -64px;
			} 
				.left-aside .current .icon-tp-panels .icons,
				.left-aside li:hover .icon-tp-panels .icons {
					background-position: -48px -64px;
				} 
			.left-aside .icon-assign-access .icons {
				background-position: -96px -64px;
			} 
				.left-aside .current .icon-assign-access .icons,
				.left-aside li:hover .icon-assign-access .icons {
					background-position: -144px -64px;
				} 
			.left-aside .icon-change-access .icons {
				background-position: -192px -64px;
			} 
				.left-aside .current .icon-change-access .icons,
				.left-aside li:hover .icon-change-access .icons {
					background-position: -240px -64px;
				} 
			.left-aside .icon-integrate-events .icons {
				background-position: -288px -64px;
			} 
				.left-aside .current .icon-integrate-events .icons,
				.left-aside li:hover .icon-integrate-events .icons {
					background-position: -336px -64px;
				}
	/* .left-aside .bottom-nav */
	.left-aside .bottom-nav {
		background: #55595B;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	} 
		.left-aside .bottom-nav li a {
			font-size: 13px;
			color: #fff;
			padding: 0 10px 0 55px;
			line-height: 45px;
			height: 45px;
			display: block;
			position: relative;
		}
			.left-aside .bottom-nav a:hover {
				text-decoration: none;
				background: #1EB7D4;
			}
			.left-aside .bottom-nav .current a {
				background: #1EB7D4;
				border-bottom: 1px solid #788D94;
			}
		.left-aside .bottom-nav li .icons {
			position: absolute;
			top: 6px;
			left: 12px;
		}
			.left-aside .icon-configuration .icons {
				background-position: -64px -32px;
			} 
			    .left-aside .icon-configuration:hover .icons,
				.left-aside .current .icon-configuration .icons {
					background-position: -96px -32px;
				} 
			.left-aside .icon-collapse-menu .icons {
				background-position: -128px -32px;
			} 
				.left-aside .icon-collapse-menu:hover .icons,
				.left-aside .current .icon-collapse-menu .icons {
					background-position: -160px -32px;
				} 
				
	/* .left-aside.aside-icon */
	.left-aside.aside-icon {
		width: 59px;
	}
		/* .aside-icon .logo */
		.left-aside.aside-icon .logo {
			height: 46px;
			padding-top: 4px;
			padding-right: 2px;
		}
			.left-aside.aside-icon .logo img {
				display: none;
			}
			.left-aside.aside-icon .logo .icons {
				background-position: -1px -118px;
				display: block;
				width: 46px;
				height: 36px;
				margin: 0 auto;
			}
		/* .aside-icon .nav */
		.left-aside.aside-icon .nav li a,
		.left-aside.aside-icon .bottom-nav li a {
			padding: 0;
		}
		.left-aside.aside-icon .nav li .txt,
		.left-aside.aside-icon .bottom-nav li .txt {
			display: none;
		}
		/* .aside-icon .bottom-nav */
		.left-aside.aside-icon .bottom-nav li .icons {
			top: 6px;
			left: 12px;
		}



/* .wrapper */
.wrapper {
	height: 100%;
	padding-top: 46px;
}
	.wrapper,
	.wrapper .header .container-fluid {
		margin-left: 190px;
	}
	.wrapper.left59,
	.wrapper.left59 .header .container-fluid {
		margin-left: 59px;
	}
	.wrapper.wrapper-full-screen {
		padding-top: 0;
	}
	.wrapper.wrapper-full-screen,
	.wrapper.wrapper-full-screen .header .container-fluid {
		margin-left: 0;
	}
		.wrapper-full-screen .header {
			background: none;
			width: 53px;
			height: 53px;
			left: auto;
			right: 0;
		}
			.wrapper-full-screen .header .lefts,
			.wrapper-full-screen .header .user-name,
			.wrapper-full-screen .header .notification {
				display: none;
			}
				.wrapper-full-screen .header .icon-full-screen {
					background: rgba(129,130,135,0.92);
					width: 53px;
					height: 53px;
					padding-top: 14px;
					padding-left: 15px;
				}
					.wrapper-full-screen .header .icon-notification:hover,
					.wrapper-full-screen .header .icon-notification.active,
					.wrapper-full-screen .header .icon-full-screen:hover {
						background: rgba(129,130,135,0.82);
					}
				.wrapper-full-screen .header .icon-full-screen .icons {
					background-position: -61px -125px;
				}
				.wrapper-full-screen .title-area .pull-right {
					margin-right: 55px;
				}


	/* .header */
	.header {
		background: #D0D6D6;
		min-height: 46px;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1199;
	}
		.header .container-fluid {
			padding: 0;
		}
			.header .titles {
				font-family: 'roboto_medium', sans-serif;
				font-size: 20px;
				font-weight: normal;
				color: #fff;
				padding: 10px 30px 0 30px;
				line-height: 26px;
			}
				.header .icon-notification,
				.header .icon-full-screen {
					float: left;
					height: 46px;
					display: inline-block;
					position: relative;
				}
				.header .icon-notification {
					width: 56px;
				}
				.header .icon-full-screen {
					width: 46px;
				}
					.header .icon-notification:hover,
					.header .icon-notification.active,
					.header .icon-full-screen:hover {
						background: #A9B9BF;
						text-decoration: none;
					}
				.header .icon-notification {
					padding-top: 12px;
					padding-left: 11px;
				}
				.header .icon-full-screen {
					padding-top: 11px;
					padding-left: 12px;
				}
					.header .icon-notification .cyan-round {
						font-size: 15.17px;
						color: #fff;
						background: #1CBDD4;
						text-align: center;
						min-width: 18px;
						padding: 0 4px;
						height: 18px;
						line-height: 18px;
						display: inline-block;
						border-radius: 100%;
						position: absolute;
						top: 20px;
						right: 8px;
						z-index: 299;
					}
					.header .icon-notification .icons {
						background-position: -4px -4px;
					}
					.header .icon-full-screen .icons {
						background-position: -35px -3px;
					}
				.header .user-name,
				.header .notification {
					float: left;
					position: relative;
				}
				.header .user-name .user-txt {
					font-size: 13.5px;
					color: #FFF;
					height: 46px;
					margin-right: 0;
					line-height: 46px;
					padding: 0 38px 0 18px;
					position: relative;
					display: inline-block;
				}
				.header .user-name .user-txt:hover,
				.header .user-name .user-txt.active,
				.header .user-name .user-down,
				.header .notification .user-down {
					background: #A9B9BF;
					text-decoration: none;
				}
					.header .user-name .user-txt .icons {
						background-position: -199px -8px;
						position: absolute;
						top: 15px;
						right: 14px;
					}
				.header .user-name .drop-down,
				.header .notification .drop-down {
					background: #A9B9BF;
					position: absolute;
					top: 46px;
					z-index: 99;
					box-shadow: 1px 7px 11px #888;
				}
				.header .user-name .drop-down {
					width: 100%;
					left: 0;
				}
				.header .notification .drop-down {
					width: 220px;
					right: 0;
				}
					.header .user-name .drop-down a,
					.header .notification .drop-down a {
						font-size: 13.5px;
						color: #FFF;
						text-decoration: none;
						padding: 0 19px;
						background: #A9B9BF;
						height: 38px;
						line-height: 38px;
						display: block;
					}
					.header .user-name .drop-down a:hover,
					.header .user-name .drop-down .active a,
					.header .notification .drop-down a:hover,
					.header .notification .drop-down .active a {
						background: #0DBCD4;
					}
				

	/* .contents */
	.contents {
		min-height: 100px;
		height: 100%;
	}
	.container-main {
		background: #fff;
		height: 100%;
	}
		.contents .container-row {
			height: 100%;
		}
		.contents .row {
			margin: 0;
		}
		
		/* .title-area */
		.title-area {
			height: 52px;
			position: relative;
		}
			/* .title-area .titles */
			.title-area .titles {
				font-family: 'roboto_medium', sans-serif;
				font-size: 20px;
				color: #464342;
				line-height: 30px;
				padding: 11px 39px 11px 32px;
			}
			.title-area .record-txt {
				font-size: 13px;
				color: #484848;
				line-height: 30px;
				padding: 11px 51px 11px 0;
				display: inline-block;
			}
				.title-area .btn-blue {
					width: 81px;
					height: 23px;
					line-height: 22px;
					border-radius: 3px;
					margin-top: 18px;
					margin-right: 13px;
				}
				.title-area .btn-group-default {
					margin-top: 18px;
					margin-right: 13px;
				}
					
		/* .search-bar */
		.search-bar {
			position: relative;
			border-bottom: 1px solid #DCDDDD;
			margin: 11px 0;
			padding: 0 20px 0 40px;
			height: 30px;
			width: 365px;
		}
		.right-30 {
			margin-right: 30px;
		}
			.search-bar .icon-search-down {
				top: -1px;
				left: -3px;
				position: absolute;
				width: 32px;
				height: 32px;
				display: inline-block;
			}
				.search-bar .icon-search-down .icons {
					background-position: -320px 0;
				}
			.search-bar input[type='search'] {
				font-size: 15px;
				color: #484848;
				height: 24px;
				line-height: 24px;
				background: none;
				border: none;
				width: 100%;
				outline: none;
				margin: 3px 0 0 0;
			}
				.search-bar input[type='search']::-webkit-input-placeholder {
					color: #484848; 
				} 
				.search-bar input[type='search']:-moz-placeholder { 
					color: #484848; 
				} 
				.search-bar input[type='search']::-moz-placeholder {
					opacity: 1;
					color: #484848;
				} 
				.search-bar input[type='search']:-ms-input-placeholder { 
					color: #484848;
				} 
			.search-bar .icon-search-remove {
				top: 1px;
				right: -5px;
				position: absolute;
				width: 24px;
				height: 24px;
				display: inline-block;
			}
				.search-bar .icon-search-remove .icons {
					background-position: -356px -36px;
				}
			/* .search-bar .drop-down */
			.search-bar .drop-down {
				background: #F5F5F6;
				top: 38px;
				left: 0;
				position: absolute;
				width: 194px;
				min-height: 50px;
				max-height: 345px;
				overflow-x: hidden;
				overflow-y: auto;
				display: block;
				border: 1px solid #DCDBDC;
				z-index: 199;
			}
				.search-bar .mCSB_inside > .mCSB_container {
					margin-right: 20px;
				}
					.search-bar .mCSB_scrollTools .mCSB_draggerContainer  {
						margin-top: 15px;
						margin-bottom: 15px;
					}
					.search-bar .mCSB_scrollTools {
						width: 7px;
						right: 8px;
						opacity: 1;
					}
					.search-bar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
					.search-bar .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
						background: #A4A8AB;
					}
					.search-bar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
					.search-bar .mCSB_scrollTools .mCSB_draggerRail {
						width: 7px;
						-webkit-border-radius: 3.5px;
						-moz-border-radius: 3.5px;
						border-radius: 3.5px;
					}
					.search-bar .mCSB_scrollTools .mCSB_draggerRail {
						width: 7px;
						-webkit-border-radius: 3.5px;
						-moz-border-radius: 3.5px;
						border-radius: 3.5px;
					}
					.search-bar .mCSB_scrollTools .mCSB_draggerRail {
						background: #D0D2D2;
					}
				.search-bar .drop-down ul {
					border-bottom: 1px solid #DCDBDC;
					padding: 6px 12px 0 12px;
					text-transform: uppercase;
				}
				.search-bar .drop-down ul:last-child {
					border-bottom: none;
				}
					.search-bar .drop-down ul li {
						margin: 3px 0 9px 0;
					}
					
		/* .general-table */
		.general-table {
			background: #fff;
			width: 100%;
		}
		.general-table .col-icon-width {
			width: 200px;
		}
			.general-table th {
				font-size: 13px;
				font-weight: normal;
				color: #464342;
				height: 36px;
				line-height: 12px;
				padding: 0 16px;
				vertical-align: middle;
				text-align: left;
				border-bottom: 1px solid #ccc;
				cursor: pointer;
				position: relative;
			}
			.set-expiration .general-table th {
				padding: 0 6px;
			}
			.general-table th.split-no {
				cursor: default;
			}
			.general-table .left-10 {
				margin-left: 10px;
			}
				.general-table th span.sep,
				.general-table th span.sort {
					width: 16px;
					height: 16px;
					margin: 0 0 0 5px;
					vertical-align: middle;
					display: inline-block;
				}
					.general-table th.tablesorter-headerSortDown a .txt,
					.general-table th.tablesorter-headerSortUp a .txt {
						text-decoration: underline;
					}
					.general-table th.tablesorter-headerSortDown .sort {
						background-position: -106px -10px;
					}
					.general-table th.tablesorter-headerSortUp .sort {
						background-position: -73px -10px;
					}
				.general-table th a {
					font-size: 13px;
					color: #464342;
					font-weight: normal;
					text-decoration: none;
				}
			.general-table tbody tr:hover {
				background-color: #F6F6F6;
			}
			.general-table tr.current-tr,
			.general-table tr.temp-row,
			.general-table tr.current-tr.yellow-tr a,
			.general-table tr.current-tr.yellow-tr a:hover {
				background-color: #EEF6FA;
			}
			    .general-table tr .split-no.relative-td,
				.wrapper .right-panel + .right-panel + .container-main .general-table tr .relative-td.split-no {
					padding-right: 30px;
				}
				.wrapper .right-panel + .right-panel + .container-main .general-table tr .relative-td.split-no .boxs {
					padding-right: 0;
				}
				.wrapper .right-panel + .right-panel + .container-main .general-table tr .relative-td.split-no .boxs .icon-right-arrow {
					margin-top: 4px;
					right: -22px;
				}
					.general-table tr.current-tr .relative-td,
					.general-table tr.temp-row .relative-td,
					.wrapper .right-panel +.container-main .general-table tr .relative-td, 
					.wrapper .right-panel + .right-panel + .container-main .general-table tr .relative-td,
					.modal-default .general-table .relative-td .boxs {
						position: relative;
					}
					.general-table tr.current-tr .relative-td .boxs,
					.general-table tr.temp-row .relative-td .boxs,
					.wrapper .right-panel +.container-main .general-table tr .relative-td .boxs, 
					.wrapper .right-panel + .right-panel + .container-main .general-table tr .relative-td .boxs {
						position: relative;
						padding-right: 30px;
					}
						.general-table .relative-td .icon-right-arrow {
							background-position: -227px -3px;
							display: block;
							position: absolute;
							top: 50%;
							right: -8px;
							margin-top: -12px;
						}
						.set-expiration .general-table .relative-td .icon-right-arrow {
							right: 2px;
						}
					.container-row .general-table .td-text.relative-td .icon-right-arrow {
						display: none;
					}
					.container-row.container-split .general-table .td-text.relative-td .icon-right-arrow {
						display: block;
					}
					.general-table tr.current-tr .relative-td .icon-right-arrow,
					.general-table tr.temp-row .relative-td .icon-right-arrow {
						background-position: -259px -3px;
					}
					    .general-table tr.disabled-row.current-tr .relative-td .icon-right-arrow {
							background-position: -259px -3px;
						}
			.container-split .general-table tbody td:last-child,
			.panel-contents .container-split .general-table tbody td:nth-last-child(2) {
				border-right: 1px solid #ccc;
			}
			.general-table tr td {
				padding: 5px 16px;
				height: 57px;
				line-height: 14px;
				vertical-align: middle;
				border-bottom: 1px solid #ccc;
				cursor: pointer;
				position: relative;
			}
			.set-expiration .general-table tr td {
				padding: 5px 6px;
			}
			.general-table .disabled-row td {
				color: #868686;
			}
			.general-table .icon-disabled {
				display: none;
			}
			.general-table .disabled-row .icon-disabled {
				display: block;
			}
			.general-table tbody .yellow-tr:hover,
			.general-table tbody .yellow-tr {
				background: #FFFAE6;
			}
			.general-table tr th .icon-disabled {
				position: absolute;
				top: 10px;
				left: 42px;
				width: 15px;
				height: 15px;
				background-position: -361px -137px;
				z-index: 99;
				display: block;
			}
			.general-table tr td .icon-disabled {
				position: absolute;
				top: 21px;
				left: 42px;
				width: 15px;
				height: 15px;
				background-position: -361px -169px;
				z-index: 99;
			}
				.general-table tr td a {
					color:#191919;
				}
				.general-table tr td .block {
					display: block;
				}
			/* .general-table .icon-box */
			.general-table .icon-box {
				width: 32px;
				height: 32px;
				display: inline-block;
				position: relative;
			 }
			 .general-table .icon-box.spacing-5 {
				 margin: 0 8px;
			 }
				.general-table .icon-box .icon-retrieve-events {
					background-position: 0 -160px;
				}
				.general-table .icon-box .icon-assign-access {
					background-position: -32px -160px;
				}
				.general-table .icon-box .icon-validate-connection-red,
				.general-table .icon-box .icon-validate-connection-green,
				.general-table .icon-box .icon-validate-connection-yellow {
					border-radius: 50px;
					margin: 8px 0 0 0;
					cursor: default;
				}
				.general-table .icon-box .icon-validate-connection-red {
					background: #F00;
				}
				.general-table .icon-box .icon-validate-connection-green {
					background: #6C0;
				}
				.general-table .icon-box .icon-validate-connection-yellow {
					background: #FC0;
				}
				.general-table .icon-drop-txt {
					font-size: 13px;
					color: #595757;
					background: #F6F7F7;
					border: 1px solid #B4B5B5;
					position: absolute;
					height: 37px;
					text-align: center;
					padding: 9px 10px 5px 10px;
					top: 38px;
					left: 50%;
					border-radius: 4px;
					box-shadow: 2px 2px 6px #888;
					z-index: 699;
					margin-bottom: 12px;
				}
					.general-table .icon-drop-txt.icon-screen-right {
						left: auto;
						right: -10px;
					}
						.general-table .icon-drop-txt.icon-screen-right .icon-top-arrow {
							left: auto;
							right: 18px;
						}
				.general-table .icon-drop-txt.width120 {
					width: 120px;
					margin-left: -60px;
				}
				.general-table .icon-drop-txt.width150 {
					width: 150px;
					margin-left: -75px;
				}
					.general-table .icon-drop-txt .icon-top-arrow {
						background-position: -359px -9px;
						width: 17px;
						height: 11px;
						position: absolute;
						top: -11px;
						left: 50%;
						margin-left: -8.5px;
					}
				.no-data-txt {
					font-size: 13px;
					color: #999;
					min-height: 57px;
					padding: 15px 16px;
					line-height: 20px;
				}
			
					
	/* .container-split */
	.container-split .container-main {
		margin-right: 578px;
	}
		.container-split .width25.col-split {
			width: 28%;
		}
		.container-split .width29.col-split {
			width: 32%;
		}
		.container-split .width23.col-split {
			width: 36%;
		}
		.container-split .split-no {
			display: none;
		}
			.container-row .right-panel {
				height: 100%;
			}
			/* .container-split .right-panel */
			.container-split .right-panel .panel-box {
				width: 512px;
				background: #fff;
				border: 1px solid #E5E4E3;
				margin: 32px;
				min-height: 100px;
				display: block;
			}
	/* .right-panel */	
	.right-panel {
		height: 100%;
	}
		/* .right-panel .titles */
		.right-panel .titles {
			padding: 0 0 0 20px;
			border-bottom: 1px solid #E5E4E3;
			min-height: 58px;
			overflow: hidden;
		}
		.right-panel .titles h2 {
			font-family: 'roboto_medium', sans-serif;
			color: #464342;
			font-size: 20px;
			font-weight: normal;
			line-height: 22px;
			padding: 19px 0 12px 0;
			max-width: 200px;
			float: left;
		}
		.change-access-contents .right-panel .titles h2,
		.assign-access-contents .right-panel .titles h2 {
			max-width: 435px;
		}
		.right-panel .titles .rights {
			float: right;
			position: relative;
		}
			.right-panel .titles .rights .btn {
				color: #FEFEFE;
				font-size: 13px;
				width: 96px;
				height: 23px;
				line-height: 22px;
				border-radius: 3px;
				text-transform: uppercase;
			}
			.right-panel .titles .rights .btn-width-65 {
				width: 65px;
				margin: 13px 10px 0 0;
			}
			.right-panel .titles .rights .btn-save {
				margin: 13px 0 0 0;
			}
			.container-split .right-panel .titles .rights {
				padding-right: 61px;
			}
			.right-panel .titles .rights .icon-cancel-btn {
				background-position: -320px -32px;
				vertical-align: middle;
				position: absolute;
				top: 8px;
				right: 12px;
			}
				.right-panel .titles .rights .icon-cancel-btn:hover {
					opacity: 0.5;
				}
		/* .right-panel-content */
		.right-panel-content {
			padding: 0 20px;
		}
		.right-panel-content.spacing-no {
			padding: 0;
		}
			/* .right-panel-content .boxs */
			.right-panel-content .boxs {
				margin-top: 20px;
			}
				.right-panel-content .row {
					margin: 0 0 30px 0;
				}
					.right-panel-content .txt {
						font-family: 'roboto_medium', sans-serif;
						font-size: 13px;
						color: #464342;
						height: 20px;
						line-height: 20px;
						margin-bottom: 3px
					}
					.right-panel-content .row .radio-box .left-30 {
						margin-left: 30px;
					}
					.right-panel-content .row .radio-box .form-container {
						display: inline-block;
						float: left;
						min-width: 160px;
					}
					.right-panel-content .row .radio-box label {
						vertical-align: middle;
						margin-top: 3px;
						float: left;
						line-height: 25px;
						display: block;
						padding: 0 0 0 6px;
					}
					.right-panel-content .input-box {
						height: 25px;
						border-bottom: 1px solid #DCDDDD;
					}
					.right-panel-content .input-box.no-border {
						border-bottom: none;
					}
						.right-panel-content .input-box input {
							font-size: 15px;
							color: #747476;
							width: 100%;
							height: 100%;
							background: none;
							border: none;
							outline: none;
							height: 25px;
							line-height: 25px;
							vertical-align: middle;
						}
		/* .right-panel .titles.show-row-btn, .right-panel .titles.hide-row-btn */
		.right-panel .height-406 {
			height: 386px;
			overflow-x: hidden;
			overflow-y: auto;
		}
			.right-panel .titles.show-row-btn,
			.right-panel .titles.hide-row-btn {
				cursor: pointer;
				border-top: 1px solid #E5E4E3;
				border-bottom: 0;
				height: 32px;
				margin-top: -1px;
				overflow: hidden;
			}
			.right-panel .current-bg {
				background: #FFFAE6;
			}
			.right-panel .titles.show-row-btn h2,
			.right-panel .titles.hide-row-btn h2 {
				font-size: 16px;
				line-height: 22px;
				padding: 11px 0 0 0;
			}
				.right-panel .titles.show-row-btn .rights,
				.right-panel .titles.hide-row-btn .rights {
					padding-top: 5px;
					padding-right: 12px;
				}
				.show-row-btn .icon-arrow {
					background-position: -224px -160px;
				}
				.hide-row-btn .icon-arrow {
					background-position: -192px -160px;
				}
		/* .right-panel .box-main */
		.right-panel .box-main {
			min-height: 100px;
			position: relative;
			padding-top: 10px;
			padding-bottom: 12px;
		} 
		.right-panel .spacing20,
		.modal-default .right-panel-content .search-bar.spacing20,
		.right-panel .data-list .titles.spacing20 {
			margin-left: 20px;
			margin-right: 20px;
		}
		.right-panel .box-main .row-area {
			border-bottom: 1px solid #E5E4E3;
		}
			.right-panel .box-main .box-image {
				position: absolute;
				top: 16px;
				right: 0;
			}
			.right-panel .box-main .box-info {
				margin-right: 80px;
			}
			.right-panel .box-main .box-info .input-box {
				margin-right: 15px;
			}
				.right-panel .clear-position {
					position: relative;
					top: 0;
					margin: 0 0 24px 0;
					width: auto;
				}
				.right-panel .box-main .row {
					margin-bottom: 15px;
				}
				.right-panel .data-top .search-bar {
					margin-right: 175px;
					margin-left: 24px;
				}
				.right-panel .data-top .btn-assign-access a {
					color: #fff;
					display: block;
					width: 135px;
					height: 30px;
					text-align: center;
					line-height: 30px;
					border-radius: 3px;
					margin-right: 20px;
				}
				.right-panel .box-main .btn-assign-access a:hover {
					text-decoration: none;
				}
				.right-panel .box-main .row .row-column {
					width: 50%;
				}
				.right-panel .box-main .box-image img {
					width: 80px;
					height: auto;
				}
		/* .data-list */
		.data-list .width25 {
			width: 25%;
		}
		.data-list .width30 {
			width: 30%;
		}
		.data-list .width40 {
			width: 40%;
		}
		.data-list .current-row {
			background: #FFFAE6;
		}
			.data-list .current-row .tab-contents.tab-readers-contents {
				padding-bottom: 10px;
			}
			/* .data-list .titles */
			.data-list .titles {
				min-height: 40px;
				position: relative;
			}
			.right-panel .data-list .titles {
				padding: 0;
				border-bottom: none;
				height: 32px;
				margin: 5px 0;
			}
				.data-list .titles.spacing20 {
					margin-right: 24px;
					margin-left: 24px;
				}
				.data-list .titles.spacing20 .form-container {
					position: absolute;
					top: 8px;
				}
					.data-list .titles .col {
						float: left;
						display: block;
					}
					.data-list .sorting-link .txt {
						font-size: 15px;
						text-decoration: underline;
						padding-left: 35px;
					}
					.data-list .sorting-link .txt.none-underline {
						text-decoration: none;
					}
					.data-list .sorting-link {
						font-size: 15px;
						color: #464342;
						text-decoration: none;
					}
						.data-list .sorting-link .icon-arrow, 
						.data-list .sorting-link .icon-arrow {
							width: 16px;
							height: 16px;
							margin: 0 0 0 5px;
							vertical-align: middle;
							display: inline-block;
						}
							.data-list .sorting-up .icon-arrow,
							.data-list .box-row .sub-box-row.show-box-row .sorting-top .icon-arrow {
								background-position: -106px -10px;
							}
							.data-list .sorting-down .icon-arrow,
							.data-list .box-row .sub-box-row.show-box-row .sorting-down .icon-arrow {
								background-position: -73px -10px;
							}
								.data-list .box-row.show-box-row .one-area .icon-arrow,
								.data-list .box-row .sub-box-row.show-box-row .icon-arrow,
								.data-list .box-row .sub-box-row.show-box-row .three-box-row .icon-arrow,
								.data-list .box-row .sub-box-row.show-box-row .three-box-row.show-box-row .icon-arrow {
									background-position: -233px -169px;
								}
								.data-list .box-row .one-area .icon-arrow,
								.data-list .box-row .sub-box-row .icon-arrow,
								.data-list .box-row .sub-box-row .three-box-row .icon-arrow,
								.data-list .box-row .sub-box-row.show-box-row .three-box-row .icon-arrow {
									background-position: -201px -168px;
								}
						.data-list li a {
							font-family: 'roboto_medium', sans-serif;
							font-size: 15px;
							color: #747476;
							line-height: 20px;
							padding: 10px 20px;
							display: block;
						}
							.data-list li a:hover{
								text-decoration: none;
								background: #F6F6F6;
							}
							.data-list li.current-tr a,
							.data-list li.current-tr a:hover,
							.data-list li.current-tr.yellow-tr a,
							.data-list li.current-tr.yellow-tr a:hover {
								text-decoration: none;
								background: #EEF6FA;
								border-bottom: 1px solid #ccc;
								border-top: 1px solid #ccc;
								line-height: 18px;
							}
							
			/* .data-list .container-info */
			.data-list  .container-info {
				height: 365px;
				overflow-x: hidden;
				overflow-y: auto;
				border-top: 1px solid #DDDCDC;
			}
				/* .data-list .nav-tab */
				.data-list .nav-tab {
					height: 44px;
					border-bottom: 1px solid #DDDCDC;
					padding-left: 165px;
					margin-left: 12px;
					margin-right: 12px;
				}
					.data-list .nav-tab li a,
					.data-list .nav-tab li a:hover {
						font-size: 13px;
						color: #0FB7D4;
						background: none;
						height: 44px;
						line-height: 44px;
						float: left;
						display: inline-block;
						position: relative;
						padding: 1px;
						margin: 0 30px;
					}
						.data-list .nav-tab li .border-down {
							display: none;
						}
					.data-list .nav-tab .current a,
					.data-list .nav-tab .current a:hover {
						color: #323232;
						text-decoration: none;
						border: 1px solid #DDDCDC;
						border-bottom: none;
						padding: 0 22px;
						margin: 0 8px;
					}
						.data-list .nav-tab .current .border-down {
							font-size: 0;
							height: 1px;
							background: #FFFAE6;
							line-height: 0;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							display: block;
						}
						.data-list .sub-box-row .nav-tab .current .border-down {
							background: #FDFBC8;
						}
					/* .data-list .tab-contents */
					.data-list .tab-contents {
						padding: 0 12px;
						margin: 0 12px 12px 12px;
					}
						.data-list .tab-contents .titles {
							padding-top: 10px;
							padding-bottom: 10px;
						}
							.data-list .tab-contents .titles .form-container {
								position: absolute;
    							top: 50%;
    							margin-top: -6px;
    							left: 12px;
							}
							.data-list .tab-contents .sub-box-row.show-box-row {
								padding-bottom: 10px;
							}
						/* .data-list .tab-contents .row-ul */
						.data-list .tab-contents .row-ul {
							height: 32px;
							width: 100%;
						}
							.data-list .tab-contents .row-ul li {
								font-size: 12px;
								padding-top: 8px;
								padding-bottom: 8px;
								line-height: 16px;
								float: left;
							}
							.data-list .tab-contents .row-ul .inactive-gray {
								color: #868686;
							}
								.data-list .row-ul li {
									width: 10.714285%;
								}
								.data-list .row-ul .col25 {
									width: 25%;
								}
								.data-list .row-ul .col30 {
									width: 30%;
								}
								.data-list .row-ul .col40 {
									width: 40%;
								}
								.data-list .tab-contents .row-ul .font-medium {
									font-family: 'roboto_medium', sans-serif;
								}
				/* .data-list .box-row */
				.data-list .box-row {
					border-bottom: 1px solid #DDDCDC;
				}
					/* .data-list .default-area */
					.data-list .box-row .default-area .icon-arrow {
						position: absolute;
						top: 21px;
						right: 16px;
						width: 16px;
						height: 16px;
					}
						.data-list .default-area {
							position: relative;
							min-height: 52px;
							cursor: pointer;
						}
						.data-list .default-area .form-container {
							position: absolute;
							top: 50%;
							margin-top: -10px;
							left: 24px;
						}
							.data-list .default-area .name-txt {
								font-size: 14px;
								color: #212121;
								line-height: 20px;
								display: block;
							}
							.data-list .default-area .name-txt.col {
								float: left;
								display: block;
							}
					/* .data-list .one-area */
					.data-list .one-area {
						padding-right: 40px;
						padding-left: 24px;
					}
						.data-list .one-area .name-txt,
						.data-list .default-area .name-txt.name-single {
							padding: 16px 0 16px 35px;
						}
						.data-list .one-area .name-txt.txt-spacing-no {
							padding: 16px 0;
						}
					/* .data-list .two-area */
					.data-list .default-area.two-area .form-container {
						left: 12px;
					}
					/* .data-list .show-area */
					.data-list .show-area {
						display: none;
						padding-top: 5px;
					}
						/* .data-list .show-box-row .show-area */
						.data-list .show-box-row .show-area {
							display: block;
						}
							.data-list .sub-box-row .name-txt {
								padding: 16px 0;
								
							}
					.data-list .sub-box-row.show-box-row .show-area {
						padding-left: 24px;
						padding-right: 24px;
					}
						.data-list .sub-box-row .show-area,
						.data-list .sub-box-row .three-box-row .show-area,
						.data-list .sub-box-row.show-box-row .three-box-row .show-area {
							display: none;
						}
						.data-list .sub-box-row.show-box-row .show-area,
						.data-list .sub-box-row .three-box-row.show-box-row .show-area,
						.data-list .sub-box-row.show-box-row .three-box-row.show-box-row .show-area {
							padding: 5px 0 0 0;
							display: block;
						}
							.data-list .sub-box-row.show-box-row .show-area .nav-tab {
								padding-left: 141px;
							}
							/* .data-list .sub-box-row.show-box-row .show-area .tab-contents */
							.data-list .sub-box-row.show-box-row .show-area .tab-contents,
							.data-list .sub-box-row.show-box-row .show-area .tab-contents {
								padding-top: 10px;
								padding-bottom: 10px;
								margin: 0 12px;
							}
								.data-list .sub-box-row.show-box-row .show-area .tab-contents .row-ul {
									overflow: hidden;
								}
								
								
								
		
/* .assign-access-contents , .change-access-contents */						
.assign-access-contents .right-panel .titles.show-row-btn, 
.assign-access-contents .right-panel .titles.hide-row-btn, 
.change-access-contents .right-panel .titles.show-row-btn, 
.change-access-contents .right-panel .titles.hide-row-btn {
	height: 47px;
}
	.assign-access-contents .right-panel .box-main,
	.change-access-contents .right-panel .box-main {
		padding-top: 0;
	}
	.assign-access-contents .right-panel .box-main .box-image,
	.change-access-contents .right-panel .box-main .box-image {
		top: 6px;
	}
								
								
								
		
/* .integrate-events-contents */						
.integrate-events-contents .right-panel .titles.show-row-btn, 
.integrate-events-contents .right-panel .titles.hide-row-btn {
	height: 47px;
}
	.integrate-events-contents .right-panel .row-area .right-panel-content .boxs {
		margin-top: 0;
		padding-bottom: 20px;
	}
	.integrate-events-contents .container-split .right-panel .general-table tbody td:last-child {
		border-right: none;
	}
	.right-panel .panel-table-form {
		background: none;
	}
			
		
		
		
/* .modal-default */
body .modal-backdrop.in {
	background-color: #666;
	filter: alpha(opacity=25);
	opacity: .25;
	z-index: 1209;
}
body.modal-open {
	overflow-y: auto;
}
.modal-backdrop.in {
	opacity: 0.15;
}
.modal.modal-default {
	z-index: 1299;
}
	.modal.modal-default .modal-content {
		box-shadow: none;
		border-radius: 0;
		border: none;
	}
	/* .modal-default .modal-header */
	.modal.modal-default .modal-header {
		padding: 17px 24px;
		border-bottom: none;
		position: relative;
	}
		.modal.modal-default .modal-header .title-txt {
			font-family: 'roboto_medium', sans-serif;
			font-size: 20px;
			color: #464342;
			line-height: 30px;
			padding-bottom: 3px;
		}
		.modal.modal-default .icon-cancel-btn {
			background-position: -320px -32px;
			position: absolute;
			opacity: 1;
			top: 8px;
			right: 7px;
			z-index: 99;
		}
			.modal.modal-default .icon-cancel-btn:hover {
				opacity: 0.5;
			}
	/* .modal-default .step-nav */
	.modal.modal-default .step-nav {
		background: #C8C9C9;
		position: absolute;
		top: 27px;
		right: 49px;
		min-width: 80px;
		border-radius: 5px;
		overflow: hidden;
		z-index: 199;
	}
		.modal.modal-default .step-nav li {
			float:left;
			width: 130px;
			height: 36px;
			position: relative;
		}
			.modal.modal-default .step-nav li a {
				text-align: center;
				display: block;
				cursor: default;
			}
			.modal.modal-default .step-nav li a .icons {
				margin: 2px auto 0 auto;
			}
				.modal.modal-default .step-nav .icon-select-user-badge {
					background-position: -96px -160px;
				}
				.modal.modal-default .step-nav .icon-select-access-level {
					background-position: -128px -160px;
				}
				.modal.modal-default .step-nav .icon-set-expiration {
					background-position: -160px -160px;
				}
					.modal.modal-default .step-nav li .icon-arrow {
						background-position: -108px -118px;
						position: absolute;
						top: 0;
						right: -12.5px;
						width: 25px;
						height: 36px;
					}
						.modal.modal-default .step-nav li:last-child .icon-arrow {
							display: none;
						}
		.modal.modal-default .step-nav .current {
			background: #8CC227;
		}
		.modal.modal-default .step-nav .current a,
		.modal.modal-default .step-nav .completed a {
			cursor: pointer;
		}
			.modal.modal-default .step-nav .current .icon-arrow {
				background-position: -156px -118px;
			}
			.modal.modal-default .step-nav .already .icon-arrow {
				background-position: -204px -118px;
				z-index: 99;
			}
						
	/* .modal-default .modal-body */
	.modal.modal-default .modal-body {
		padding: 0;
		min-height: 100px;
		position: relative;
	}	
		.modal.modal-default .modal-body .title-value {
			font-size: 18px;
			color: #484848;
			line-height: 22px;
			padding: 0 24px 3px 24px;
		}
		.modal.modal-default .modal-body .gray-txt {
			font-size: 14px;
			color: #484848;
			line-height: 20px;
			padding: 0 24px;
		}	
		/* .modal-default .search-bar */
		.modal-default .search-bar {
			margin: 12px 24px 15px 24px;
			width: 382px;
		}
		/* .modal-default .container-split */
		.modal-default .container-split {
			height: 405px;
		}
		.modal-default .container-split .table-scroll-bar {
			max-height: 405px;
		}
		.modal-default .container-split .general-table th {
			cursor: auto;
		}
		.modal-default .container-split .general-table th,
		.modal-default .container-split .general-table td {
			font-size: 13px;
			line-height: 14px;
			border-bottom: 1px solid #DCDDDD;
		}
		.modal-default .container-split .right-panel {
			background: #f1f1f2;
			width: 50%;
			margin-top: 45px;
		}
			.modal-default .container-split .right-panel .panel-box {
				margin: 10px;
				width: auto;
				min-height: 100px;
			}
		.modal-default .container-split .container-main {
			margin-right: 50%;
		}
		.modal-default .container-row .container-main {
			position: relative;
		}
		.modal-default .right-panel .current-bg {
			min-height: 328px;
		}
	/* .modal-default .modal-bottom-btn */
	.modal.modal-default .modal-bottom-btn {
		background: #EFEFEF;
		min-height: 65px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
		.modal.modal-default .rights {
			padding-right: 30px;
		}
			.modal.modal-default .btn-gray,
			.modal.modal-default .btn-blue {
				margin: 15px 0 0 9px;
			}
			.modal.modal-default .btn-gray,
			.modal.modal-default .btn-gray:hover {
				cursor: default;
				background: #bbbdc0;
			}
			.modal.modal-default .btn-gray,
			.modal.modal-default .btn-blue,
			.modal.modal-default .btn-blue:hover,
			.modal.modal-default .btn-blue:focus {
				border-radius: 4px;
				height: 35px;
				line-height: 35px;
				width: 120px;
			}
			.modal.modal-default .link-blue {
				margin: 15px 22px 0 9px;
				line-height: 21px;
				padding: 7px 0;
			}
			.icon-incomplete-data {
				background-position: -240px -112px;
			}
			.icon-connection-successful {
				background-position: -288px -112px;
			}
	
/* .modal-assign-access */
.modal.modal-default.modal-assign-access .modal-dialog {
	margin: -317px 0 0 -427px;
	top: 50%;
	left: 50%;
	width: 854px;
	position: fixed;
	z-index: 1399;
}	
	.modal.modal-default.modal-assign-access .modal-header {
		min-height: 32px;
		padding: 17px 24px 0 24px;
	}
	.modal.modal-default.modal-assign-access .modal-content {
		width: 854px;
		height: 634px;
		padding: 0 0 65px 0;
		position: relative;
	}
	/* .modal-default .search-bar */
	.modal-default .right-panel-content .search-bar {
		margin: 0;
		position: relative;
		top: auto;
		left: auto;
	}
	.modal-assign-access .right-panel-content .box-main .input-box input {
		font-size: 13px;
		letter-spacing: -0.5px;
	}
	/* .set-expiration */
	.set-expiration .container-main {
		padding-top: 7px;
	}
	
		/* .set-expiration .titles */
		.set-expiration .titles {
			font-size: 12px;
			font-weight: normal;
			color: #9C9B96;
			line-height: 25px;
			height: 25px;
			border-bottom: none;
		}
			.set-expiration .right-panel .titles {
				min-height: 71px;
				padding: 0;
			}
				.set-expiration .right-panel .titles h2 {
					font-size: 16px;
				}
		.set-expiration .container-main .titles {
			padding-left: 8px;
		}
			.set-expiration .titles .access-levels {
				margin-left: 8px;
			}
			/* .calendar-group */
			.calendar-txt {
				font-size: 12px;
				color: #000;
				display: block;
				line-height: 30px;
			}
			.calendar-group .calendar {
				border-bottom: 1px solid #D1D2D4;
				position: relative;
				padding-right: 25px;
				height: 27px;
				display: block;
			}
				.calendar-group .calendar input {
					font-size: 13px;
					color: #191616;
					background: none;
					outline: none;
					height: 25px;
					width: 100%;
					line-height: 20px;
					vertical-align: middle;
					border: none;
					margin-top: 2px;
					cursor: pointer;
				}
				.calendar-icon {
					background-position: -327px -166px;
					width: 17px;
					height: 19px;
					position: absolute;
					top: 0;
					right: 1px;
				}
		 /* .set-expiration .right-panel */
		 .set-expiration .right-panel {
			 background: #F1F1F2;
			 width: 40%;
			 padding: 11px 0 10px 11px;
			 float: right;
		 }
		     .set-expiration .right-panel .panel-box .row-area {
				 padding: 0 68px 0 13px;
				 border: 1px solid #E5E4E3;
				 border-right: none;
				 min-height: 422px;
			 }
		 .set-expiration .right-panel.current-bg {
			 background: #FFFAE6;
		 }
		 .set-expiration .right-panel .titles.show-row-btn h2 {
			 padding-top: 17px;
	     }
		/* .set-expiration .container-main */
		.set-expiration.expiration-container-split .container-main {
			margin-right: 40%;
		}
			.set-expiration .container-main tr td:last-child {
				border-right: 1px solid #ccc;
			}
	
	
/* .modal-state */
.modal.modal-default.modal-state .modal-dialog {
	margin-left: -185px;
	top: 50%;
	left: 50%;
	width: 370px;
	position: fixed;
	z-index: 1399;
}	
	/* .modal-state .modal-header */
	.modal-state .modal-header {
		padding: 0;
		position: relative;
	}
		.modal.modal-default.modal-state .icon-cancel-btn {
			top: 13px;
		}
	/* .modal-state .modal-body */
	.modal-state .modal-body {
		padding: 10px;
	}
		.modal-state .modal-body .icon-box {
			margin-top: -18px;
		}
		.modal-state .modal-body .title-txt {
			font-size: 20px;
			color: #484848;
			line-height: 25px;
			margin: 5px 0 7px 0;
			padding: 0 20px;
		}
		.modal-state .modal-body .gray-txt {
			font-size: 14px;
			color: #484848;
			line-height: 20px;
			padding: 0 50px;
			min-height: 40px;
		}
		.modal-state .modal-body .underline {
			text-decoration: underline;
		}
	/* .modal-state .modal-footer */
	.modal-state .modal-footer {
		text-align: center;
		padding: 20px 0 42px 0;
		border-top: 0;
	}
		.modal-state .modal-footer .btn,
		.modal-state .modal-footer .btn+.btn,
		.modal-state .modal-footer .btn:hover {
			font-size: 13px;
			width: 128px;
			height: 38px;
			line-height: 38px;
			border-radius: 3px;
			margin: 0 3px;
			display: inline-block;
		}

/* .modal-import */
.modal.modal-default.modal-import .modal-dialog {
	margin-top: -243px;
	margin-left: -240px;
	top: 50%;
	left: 50%;
	width: 600px;
	position: fixed;
	z-index: 1399;
}	
	/* .modal-import .modal-header */
	.modal.modal-default.modal-import .modal-header {
		padding: 10px 24px;
		min-height: 40px;
		position: relative;
	}
		.modal.modal-default.modal-import .icon-cancel-btn {
			top: 13px;
		}
		.import-modal-content .upload-field {
			height: 340px;
			border: 1px solid #DCDDDD;
			margin: 0 24px;
			cursor: pointer;
		}	
			.import-modal-content .upload-field input {
				height: 340px;
				outline: none;
				width: 100%;
				cursor: pointer;
			}
	/* .modal.modal-default.modal-import */
	.modal.modal-default.modal-import .modal-footer {
		 border-top: none;
		 padding: 20px 15px;
	 }
	 	.modal.modal-default.modal-import .modal-footer .import-cancel {
			padding: 0;
			margin: 10px 22px 0 9px;
		}
		.modal.modal-default.modal-import .modal-footer .btn {
			font-size: 13px;
			width: 128px;
			height: 38px;
			line-height: 38px;
			border-radius: 3px;
			margin: 0 8px;
			display: inline-block;
		}

 /* 
  #modal-incomplete-data,
  #modal-add-panel-connection-failed,
  #modal-add-panel-connection-successful,
  #modal-edit-panel-connection-failed,
  #modal-edit-panel-connection-successful,
  #modal-file-imported-successfully,
  #modal-file-import-failed,
  .modal-lodding,
  #modal-no-badge-selected,
  #modal-no-assignment-found,
  #modal-record-updated-successfully,
  #modal-record-added-successfully,
  #modal-do-you-wish-delete,
  #modal-unsaved-changes,
  #modal-users-impacted-delete,
  #modal-enable,
  #modal-error-message
 */
.modal.modal-default.modal-state#modal-incomplete-data .modal-dialog,
.modal.modal-default.modal-state#modal-add-panel-connection-failed .modal-dialog,
.modal.modal-default.modal-state#modal-add-panel-connection-successful .modal-dialog,
.modal.modal-default.modal-state#modal-edit-panel-connection-failed .modal-dialog,
.modal.modal-default.modal-state#modal-edit-panel-connection-successful .modal-dialog,
.modal.modal-default.modal-state#modal-file-imported-successfully .modal-dialog,
.modal.modal-default.modal-state#modal-file-import-failed .modal-dialog,
.modal.modal-default.modal-state.modal-lodding .modal-dialog,
.modal.modal-default.modal-state#modal-no-badge-selected .modal-dialog,
.modal.modal-default.modal-state#modal-no-assignment-found .modal-dialog,
.modal.modal-default.modal-state#modal-record-updated-successfully .modal-dialog,
.modal.modal-default.modal-state#modal-record-added-successfully .modal-dialog,
.modal.modal-default.modal-state#modal-error-message .modal-dialog,
.modal.modal-default.modal-state#modal-do-you-wish-delete .modal-dialog,
.modal.modal-default.modal-state#modal-unsaved-changes .modal-dialog,
.modal.modal-default.modal-state#modal-users-impacted-delete .modal-dialog,
.modal.modal-default.modal-state#modal-disable .modal-dialog,
.modal.modal-default.modal-state#modal-set-severity .modal-dialog {
	margin-top: -131px;
}
	.modal.modal-default.modal-state#modal-enable .modal-dialog {
		margin-top: -111.5px;
	}
		.modal.modal-default.modal-state#modal-enable .modal-body .title-txt {
			padding-top: 15px;
		}
	#modal-set-severity .infos {
		text-align: center;
		padding: 30px 60px 0 60px;
	}
		#modal-set-severity .infos .btn-group-default {
			width: 220px;
			margin: 0 auto;
		}
			#modal-set-severity .infos .btn-group-default .btn.btn-default {
				text-align: left;
				width: 220px;
			}
			#modal-set-severity .infos .btn-group-default .dropdown-menu {
				width: 250px;
			}
	.modal.modal-default.modal-state#modal-file-imported-successfully .modal-body .gray-txt {
		padding: 0 30px;
	}
	.modal.modal-default.modal-state#modal-file-import-failed .modal-body .gray-txt {
		padding: 0 20px;
	}
	.modal.modal-default.modal-state.modal-lodding .modal-body .gray-txt,
	.modal.modal-default.modal-state#modal-record-updated-successfully .modal-body .gray-txt,
	.modal.modal-default.modal-state#modal-do-you-wish-delete .modal-body .gray-txt {
		padding: 0 35px;
	}
	.modal.modal-default.modal-state#modal-record-added-successfully .modal-body .gray-txt,
	.modal.modal-default.modal-state#modal-error-message .modal-body .gray-txt {
		padding: 0 40px;
	}
	.modal.modal-default.modal-state#modal-no-assignment-found .modal-body .gray-txt,
	.modal.modal-default.modal-state#modal-unsaved-changes .modal-body .gray-txt {
		padding: 0 60px;
	}
	.modal.modal-default.modal-state#modal-users-impacted-delete .modal-body .gray-txt {
		padding: 0 80px;
	}
		.modal.modal-default.modal-state#modal-file-imported-successfully .modal-footer .btn-blue,
		.modal.modal-default.modal-state#modal-file-imported-successfully .modal-footer .btn-blue+.btn,
		.modal.modal-default.modal-state#modal-file-imported-successfully .modal-footer .btn-blue:hover,
		.modal.modal-default.modal-state#modal-no-assignment-found .modal-footer .btn-blue,
		.modal.modal-default.modal-state#modal-no-assignment-found .modal-footer .btn-blue+.btn,
		.modal.modal-default.modal-state#modal-no-assignment-found .modal-footer .btn-blue:hover {
			width: 158px;
		}
	/* .retrieve-events-content */
	.retrieve-events-content .titles {
		font-family: 'roboto_medium', sans-serif;
		font-size: 20px;
		color: #212121;
		line-height: 30px;
		padding: 0 24px 10px 24px;
		min-height: 40px;
		position: relative;
		margin-top: -15px;
	}
	.modal.modal-default.modal-state.modal-lodding .retrieve-events-content .modal-body .gray-txt {
		letter-spacing: -0.5px;
		padding: 5px 10px;
		min-height: 40px;
	}
	.modal-lodding .lodding-bar {
		margin: 14px 50px;
		height: 16px;
		border-radius: 8px;
		overflow: hidden;
		position: relative;
	}
		.modal-lodding .lodding-bar .boxs {
			background: #fff;
			height: 16px;
			border-radius: 8px;
			overflow: hidden;
			border: 1px solid #DCDDDD;
		}
		.modal-lodding .lodding-bar .current-bar {
			width: 0%;
			height: 100%;
			background: #1FB7D4;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		
		
			
/* .ui-widget-content */
body .ui-widget-content {
	font-size: 13px;
	border: none;
	background: #4bc2d5;
	color: #6c7a89;
	width: 272px;
	padding: 0 10px;
	margin-top: 6px;
}		
	body .ui-datepicker .ui-datepicker-header {
		font-size: 13.59px;
		color: #fff;
		font-weight: normal;
		padding: 5px 0 2px 0;
		margin-top: 10px;
		background: #4bc2d5;
		border: none;
	}
	body .ui-datepicker table {
		margin: 0 0 10px -5px;
		
	}
	body .ui-datepicker .ui-datepicker-prev,
	body .ui-datepicker .ui-datepicker-next  {
		width: 32px;
		height: 23px;
	}
	body .ui-datepicker .ui-datepicker-next {
		right: -5px;
	}
	body .ui-datepicker .ui-datepicker-prev:hover,
	body .ui-datepicker .ui-datepicker-next:hover {
		background: none;
		border: none;
		cursor: pointer;
	}
	body .ui-datepicker .ui-datepicker-prev span, 
	body .ui-datepicker .ui-datepicker-next span {
		margin-top: -5px;
	}
	body .ui-datepicker .ui-datepicker-prev .ui-icon-circle-triangle-w {
		background-position: -13px -42px;
	}
	body .ui-datepicker .ui-datepicker-next .ui-icon-circle-triangle-e {
		background-position: -45px -42px;
	}
	body .ui-widget-content .ui-state-default {
		color: #fff;
		width: 21px;
		height: 21px;
		text-align: center;
		border-radius: 50px;
		background: #4bc2d5;
		border: none;
	}
	body .ui-widget-content .ui-datepicker-other-month .ui-state-default,
	body .ui-widget-content .ui-datepicker-other-month .ui-state-default:hover {
		color: #012633;
		opacity: 0.4;
		background: #4bc2d5;
	}
	body .ui-widget-content .ui-state-default:hover,
	body .ui-state-highlight, 
	body .ui-widget-content .ui-state-highlight, 
	body .ui-widget-header .ui-state-highlight {
		color: #2e6d7b;
		background: #fff;
	}
	body .ui-widget-content .ui-state-active {
		color: #2e6d7b;
		background: #b3cfff;
	}
	body .ui-datepicker td {
		padding: 1px 8px;
	}
	body .ui-widget-content .ui-datepicker-calendar thead tr th {
		color: #fff;
		font-weight: normal;
		padding: 3px 0;
	}




/*fix layout issue when smaller than 1530px width*/
@media (max-width: 1530px) {
.wrapper .right-panel.hide + .container-main .search-bar,
.wrapper .right-panel.hide + .right-panel + .container-main .search-bar {
	width: 365px;
}
	.wrapper .right-panel +.container-main .search-bar,
	.wrapper .right-panel + .right-panel + .container-main .search-bar {
		width: 300px;
	}
}




/*fix layout issue when smaller than 1450px width*/
@media (max-width: 1450px) {
.wrapper .integrate-events-contents .right-panel.hide + .container-main .search-bar,
.wrapper .integrate-events-contents .right-panel.hide + .right-panel + .container-main .search-bar {
	position: relative;
	top: auto;
	left: auto;
}
	.wrapper .integrate-events-contents .right-panel +.container-main .search-bar,
	.wrapper .integrate-events-contents .right-panel + .right-panel + .container-main .search-bar {
		position: absolute;
		top: 30px;
		left: 31px;
	}
.wrapper .integrate-events-contents .right-panel.hide + .container-main .title-area,
.wrapper .integrate-events-contents .right-panel.hide + .right-panel + .container-main .title-area {
	height: 52px;
}
	.wrapper .integrate-events-contents .right-panel +.container-main .title-area,
	.wrapper .integrate-events-contents .right-panel + .right-panel + .container-main .title-area {
		height: 82px;
	}
}




/*fix layout issue when smaller than 1530px width*/
@media (max-width: 1400px) {
.wrapper .right-panel.hide + .container-main .search-bar,
.wrapper .right-panel.hide + .right-panel.hide + .container-main .search-bar {
	position: relative;
	top: auto;
	left: auto;
}
	.wrapper .right-panel + .container-main .search-bar,
	.wrapper .right-panel + .right-panel + .container-main .search-bar {
		width: 365px;
		position: absolute;
		top: 30px;
		left: 31px;
	}
.wrapper .right-panel.hide + .container-main .title-area,
.wrapper .right-panel.hide + .right-panel.hide + .container-main .title-area {
	height: 52px;
}
	.wrapper .right-panel + .container-main .title-area,
	.wrapper .right-panel + .right-panel + .container-main .title-area {
		height: 82px;
	}
		.wrapper .right-panel.hide + .container-main .title-area .btn-blue,
		.wrapper .right-panel.hide + .right-panel.hide + .container-main .title-area .btn-blue {
			margin-top: 18px;
		}
			.wrapper .right-panel + .container-main .title-area .btn-blue,
			.wrapper .right-panel + .right-panel + .container-main .title-area .btn-blue {
				margin-top: -36px;
			}
		.wrapper .right-panel.hide + .container-main .title-area .lefts,
		.wrapper .right-panel.hide + .right-panel.hide + .container-main .title-area .lefts {
			float: left !important;
			width: auto;
		}
			.wrapper .right-panel +.container-main .title-area .lefts,
			.wrapper .right-panel + .right-panel + .container-main .title-area .lefts {
				float: none !important;
				width: 100%;
				min-height:  52px;
			}
}




/*fix layout issue when smaller than 1350px width*/
@media (max-width: 1350px) {
.wrapper .container-split .right-panel {
	width: 50%;
}
.wrapper .container-split .right-panel .panel-box {
	width: auto;
}
.wrapper .container-split .container-main {
	margin-right: 50%;
}
	.wrapper .right-panel + .container-main .search-bar,
	.wrapper .right-panel + .right-panel + .container-main .search-bar {
		width: 300px;
	}
.right-panel-content .row .radio-box .form-container {
	min-width: 120px;
}
}




/*fix layout issue when smaller than 1150px width*/
@media (max-width: 1150px) {
.wrapper .container-split .right-panel {
	width: 445px;
}
.wrapper .container-split .container-main {
	margin-right: 445px;
}
	.wrapper .right-panel.hide + .container-main .search-bar,
	.wrapper .right-panel.hide + .right-panel + .container-main .search-bar {
		width: 260px;
	}
		.wrapper .right-panel +.container-main .title-area .record-txt,
		.wrapper .right-panel + .right-panel + .container-main .title-area .record-txt {
			padding-right: 41px;
		}
	.wrapper .right-panel.hide + .container-main .general-table th,
	.wrapper .right-panel.hide + .right-panel + .container-main .general-table th {
		padding-right: 16px;
	}
		.wrapper .right-panel +.container-main .general-table th,
		.wrapper .right-panel + .right-panel + .container-main .general-table th {
			padding-right: 0;
		}
	.wrapper .right-panel.hide + .container-main .general-table tr td,
	.wrapper .right-panel.hide + .right-panel + .container-main .general-table tr td {
		padding-right: 16px;
	}
	.wrapper .right-panel.hide + .right-panel + .container-main .general-table tr.current-tr .relative-td {
		padding-right: 30px;
	}
		.wrapper .right-panel +.container-main .general-table tr td,
		.wrapper .right-panel + .right-panel + .container-main .general-table tr td {
			padding-right: 10px;
		}
	.wrapper .integrate-events-contents .general-table th div {
		position: relative;
		display: inline;
	}
		.wrapper .integrate-events-contents .right-panel.hide + .container-main .general-table th .icons,
		.wrapper .integrate-events-contents .right-panel.hide + .right-panel + .container-main .general-table .icons {
			position: static;
			top: auto;
			right: auto;
			margin-top: auto;
		}
			.wrapper .integrate-events-contents .right-panel +.container-main .general-table th .icons,
			.wrapper .integrate-events-contents .right-panel + .right-panel + .container-main .general-table th .icons {
				position: absolute;
				top: 50%;
				right: -20px;
				margin-top: -8px;
			}
			.wrapper .integrate-events-contents .right-panel +.container-main .general-table th .icons.icon-disabled,
			.wrapper .integrate-events-contents .right-panel + .right-panel + .container-main .general-table th .icons.icon-disabled {
				position: absolute;
				top: 10px;
				left: 41px;
				right: auto;
				margin-top: 0;
			}
}
			